[2016-05-24 02:40] bjmllr opened #1 "initial modeling"
The org needs a way to store and retrieve sign-in/sign-out data provided by volunteers, such as a database.

* [ ] volunteer's name (user text)
* [ ] volunteer's email address (user text)
* [ ] work site's street address (user text for now)
* [ ] action - can be any of the following 4 possibilities
 * sign in for the day (signature required)
 * sign out for a break (signature not required)
 * sign

[2016-05-24 02:46] bjmllr opened #2 "signature form"
The org needs a way to allow volunteers to sign themselves in and out of work sites, such as a web-based form.

* [x] fields as described in #1:
 * [x] volunteer's name
 * [x] volunteer's email address
 * [x] work site's street address
 * [x] date (pre-filled with the current date)
* [x] action - one of:
 * sign in for the day (signature required)
 * sign out for a break (signature not required)

[2016-05-24 02:51] bjmllr opened #3 "signatures report"
The org would like to have a summary of shift events for the past week (sign-ins and sign-outs with and without signatures).

[2016-05-24 02:58] bjmllr opened #4 "restrict signature input by time"
The org would like the ability to restrict volunteer sign-in and sign-out to specified time ranges.

[2016-05-24 03:00] bjmllr opened #5 "administrative activities"
The org needs a way to allow admins to securely access sign-in and sign-out data, such as a web-based control panel.

* [x] admin auth
* [x] a way to provide a spreadsheet of collected signature data
* [x] a way to control form access by time ( #4 )

[2016-05-24 03:04] bjmllr opened #6 "signature form text"
Text to be displayed with the signature form.

* [ ] thank the volunteer
* [ ] describe the value of the sign-in/sign-out process

[2016-06-17 00:03] pat commented on #4
Just while I'm glancing at this and thinking through things a little:

* Are volunteers forced to check-in within ranges, but [can check-out anytime they like](https://www.youtube.com/watch?v=lrfhf1Gv4Tw)?
* Or, should volunteers be automatically signed out at the end of the time range?
* Should there be any allowance for exceptions to the time range rules?

[2016-06-17 00:04] pat commented on #5
Are we expecting multiple admins needing access? Is a single shared username and password an option (perhaps via HTTP Authentication)? Or will separate accounts (Devise et al) be useful?

[2016-06-17 03:56] bjmllr commented on #4
I think automatic check-out would run afoul of the grant requirements since we can't automatically collect a check-out signature. Maybe we can send an email to the volunteer asking them to please sign out in addition to the Hotel California rule.

[2016-06-17 03:58] bjmllr commented on #5
The staff isn't huge so a single account might be an option. @glazomaniac any thoughts?

[2016-06-17 15:04] glazomaniac commented on #5
I thought I answered this! A single shared username is fine. Just make it "Habitat."

[2016-06-17 15:15] bjmllr commented on #1
Provided by #12

[2016-06-17 15:15] #1 closed

[2016-06-17 15:44] scooter-dangle commented on #3
So far, we're saying this isn't just a summary of time worked, it should actually include all of the signatures associated with the times worked.

[2016-06-17 19:24] bjmllr opened #14 "add geolocation data to signature form"

[2016-06-17 20:15] scooter-dangle commented on #3
I'm assuming we want the data ordered by date, but that may be incorrect.

Within each day I'd probably order signatures by work site and then group by shift.

@bjmllr:
Question: For Shift summary calculations like "duration" and "duration_including_breaks" (not necessarily those names), do we want that to be calculated in the Shift model or in the report? (I'm assuming for now that we're always i

[2016-06-17 20:25] bjmllr commented on #3
Since we can do the calculation with only the `ShiftEvent`s associated with a given shift, I think it's fine to make those instance methods of `Shift`.

[2016-06-17 20:27] scooter-dangle commented on #3
K cool. In that case will work on adding those to the model as part of this branch.

[2016-06-17 22:12] glazomaniac opened #17 "email addresses"
Hi, all,

We'd love to be able to thank you when this is all over. If you want to provide your email addresses, we'd love to send a follow up. I promise we won't put you on our mailing lists unless you explicitly ask to be! Just pass your email addresses along if you wanna be on the "thank you" list!

Thanks,

Sally

[2016-06-18 17:19] pat commented on #17
Sure 😄 - you can reach me on pat@freelancing-gods.com.

[2016-06-18 18:17] #6 closed

[2016-06-18 20:00] scooter-dangle opened #29 "Hours report"
Need report with hours calculated based on start/end times for shifts. As with the (modified) weekly report issue (#3), this only requires generation of a CSV file with the data based on provided date (defaulting to the current day). The default interval is one week.

[2016-06-19 05:38] robbkidd opened #36 "HTML view of Signatures Report to show signatures"
- [x] requires auth

[2016-06-19 13:18] bjmllr opened #38 "add user-friendly volunteer and work_site identifiers in admin panel"
instead of just a db reference

e.g., put our names instead of `Volunteer #n` in https://habitat-nola-signin.herokuapp.com/admin/shifts

[2016-06-19 13:29] bjmllr opened #39 "site_supervisor user role"
has the ability to create work_sites and change their active status

[2016-06-19 13:30] bjmllr opened #40 "work_site active flag"
Work sites become inactive when work is completed on them. We should only show inactive sites to volunteers.

[2016-06-19 13:32] bjmllr opened #41 "data from WorkSite and Volunteer not appearing in signatures report"

[2016-06-19 13:34] bjmllr commented on #2
still polishing, but generally complete

[2016-06-19 13:34] #2 closed

[2016-06-19 13:35] bjmllr commented on #3
still polishing, but generally completed in #18

[2016-06-19 13:35] #3 closed

[2016-06-19 13:45] bjmllr commented on #5
We went with multiple accounts after all (one can be named "Habitat" :smile_cat: ). provided in #21

[2016-06-19 13:45] #5 closed

[2016-06-19 14:37] bjmllr opened #44 "reports: stop making demeter cry"
in #43 we did eager loading and navigated the model graph explicitly, we should look for a better abstraction

[2016-06-19 15:25] scooter-dangle commented on #29
In discussion last night, decided to continue to go ahead with naming being HoursReport rather than ShiftsReport, since the particular aggregation might end up being something other than shifts (e.g., work site or volunteer).

[2016-06-19 15:47] bjmllr opened #48 "add break model"

[2016-06-19 15:58] #29 closed

[2016-06-19 16:11] scooter-dangle commented on #41
Ben fixed.

[2016-06-19 16:11] #41 closed

[2016-06-27 16:13] bjmllr opened #54 "additional copy for signature form"
* [ ] waiver of liability

[2016-06-27 16:14] bjmllr opened #55 "per-work site shifts report"
The org would like to have a report of shifts for each work site.

[2016-06-27 16:19] bjmllr opened #56 "select the start and end dates of a report"
to be used when generating a report through the admin panel

[2016-06-27 16:27] bjmllr opened #57 "checkbox to indicate that the signer is the parent or guardian of a volunteer"

[2016-06-27 16:29] bjmllr commented on #54
Waiver language:

I understand my or my dependent’s work as a volunteer on or about a NOAHH construction site or project could expose me or my dependent to various risks of injury or illness. I understand and assume these risks, and agree not to hold New Orleans Area Habitat for Humanity, Inc. (NOAHH), its agents, employees, volunteers, or volunteer homeowners liable for such injury or illness. I

[2016-07-02 13:11] bjmllr commented on #17
@glazomaniac can we close this?

[2016-07-02 13:14] bjmllr commented on #38
Fixed by #51

[2016-07-02 13:14] #38 closed

[2016-07-02 13:57] bjmllr commented on #36
Added in #46

[2016-07-02 14:01] #36 closed

[2016-07-02 14:04] #54 closed

[2016-07-04 03:53] #44 closed

[2016-07-04 04:25] bjmllr commented on #40
added in #42

[2016-07-04 04:25] #40 closed

[2016-07-04 11:09] glazomaniac commented on #17
yes.

[2016-07-04 11:09] #17 closed

[2016-07-06 23:28] bjmllr opened #60 "emailed weekly report"
* [x] sending email
* [x] scheduling sending

[2016-07-07 01:10] #57 closed

[2016-07-07 15:35] leesharma opened #62 "Only authorized individuals should be able to create admin accounts."
Currently anyone can create an admin account via `users/sign_up`, which gives them access to reports containing sensitive information. Only valid individuals should be able to create these accounts/view these reports.

[2016-07-07 15:38] leesharma commented on #62
I can think of two ways to solve this: invitations or account approval. Either way, we'll need to initialize the project with a first admin user.

If we want to go the invitations route, I've had success using the [`devise_invitable`](https://github.com/scambra/devise_invitable) gem in the past.

[2016-07-07 15:42] bjmllr commented on #62
The org is happy with a single user, it's just that devise is built for multiple users, and the team wanted to use devise for other reasons. If needed, we can create users at the console, once public signups are disabled.

`devise_invitable` sounds pretty awesome.

[2016-07-07 16:02] leesharma opened #63 "Signature canvas jumps left on the check-in form when "Action" is selected"
Here's a demonstration:
![hh-canvas-jump-left](https://cloud.githubusercontent.com/assets/814638/16659942/3d481144-443a-11e6-911e-2c8ada5190c9.gif)

Ideally, the canvas should stay put regardless of what's going on in the other fields (unless the behavior is intended).

[2016-07-07 16:25] leesharma opened #64 "Sign-in form looks off on small screens"
The sign-in form doesn't work well on my iPhone 5S screen. The first issue I noticed was that the form requires horizontal scrolling (or dealing with cut-off field descriptions):
![horizontal scrolling required](https://cloud.githubusercontent.com/assets/814638/16660678/6eca6908-443d-11e6-98b9-840bd1254ff7.PNG)

At the bottom of the form, even when the container is centered, the canvass overflows

[2016-07-07 16:26] leesharma commented on #64
I'd suggest making the container width 100% on small screens (hiding the blue background) so that there's a bit more room.

I'm not sure the right solution for the canvas (since apparently re-sizing makes it break), but I'm sure there's a good solution for dealing with canvas on a range of screen sizes.

[2016-07-07 17:27] bjmllr commented on #62
I disabled new user registration in 06c77c9ebbf6a578506997ef3c2a7f6c56201861 and b705fc79115f696d3791dc77f620408627505906 in the simplest way I could find and pushed the result to heroku. Feel free to undo those changes if they don't mesh.

[2016-07-07 19:14] leesharma commented on #62
I used your changes and went a bit further (removing it from the model and adding a rake task).

[2016-07-07 19:24] #62 closed

[2016-07-09 20:15] leesharma opened #66 "Signature report is hard to read on smalls screens"
The signature report doesn't do well on mobile. Here's a screenshot from my laptop; note the field overflow:
![signature report on small screens](https://cloud.githubusercontent.com/assets/814638/16710058/3a1047f0-45f0-11e6-8552-378cf3d5ad0c.png)

We should probably have a mobile-optimized view if we expect this to be used on mobile devices.

[2016-07-09 21:34] bjmllr commented on #66
We probably don't need the full report, though we might want a subset, so that a site supervisor can confirm that everyone has signed in.

@glazomaniac WDYT?

[2016-07-09 22:34] leesharma opened #68 "`ShiftEvent#occurred_at` and `ShiftEvent#day` are allowed to be on different days"
Currently, the `ShiftEvent#occurred_at` value is able to be on a completely different date than the associated `Shift#day` value. For example, the following is possible:
[code]
In the views, it looks like the two were being used interchangeably for the date. I've changed the signature report view to use `#occurred_at` exclusively, but we should probably enforce (or decide not to enforce) that at l

[2016-07-10 02:39] #68 closed

[2016-07-11 12:19] glazomaniac commented on #66
The full report goes to Avery, the site supervisor gets a shorter one on her/his phone?

[2016-07-13 18:26] bjmllr opened #73 "In the admin portal, on the Shifts dashboard, the "Destroy" control results in an application error."
Records deleted this way do not appear to be removed from the database, either.

[2016-07-15 23:15] #56 closed

[2016-07-15 23:16] leesharma commented on #66
If the site supervisor is the one who will be looking at this on their phone, should we be able to restrict the report by site as well?

[2016-07-15 23:27] #73 closed

[2016-07-15 23:29] bjmllr commented on #66
That would be good. Because the app is global, someone might accidentally sign in to the wrong site, but other than troubleshooting that scenario, I guess a site supervisor would only want to know about the site they are supervising on the current day. Could look something like:

| volunteer_name | action |
| --- | --- |
| Ben | start_break |
| Sally | start_shift |
| Rob | end_shift |

[2016-07-15 23:32] leesharma commented on #66
@bjmllr Second question: If multiple site supervisors are allowed to access this, does this mean we should allow for more than one admin? Or are supervisors a different role that still need to be added?

[2016-07-15 23:36] bjmllr commented on #66
It's a separate User role ( #39 ) . Robb got us started on adding roles during R4G but we ended up de-prioritizing it.

[2016-07-16 15:12] leesharma commented on #64
It looks like this was solved at some point–everything looks fine now.

![new improved signature box](https://cloud.githubusercontent.com/assets/814638/16895497/17c79ae4-4b46-11e6-9b59-228979b5f134.png)

[2016-07-16 15:12] #64 closed

[2016-07-16 15:13] leesharma commented on #63
It looks like this works now! Closing.

[2016-07-16 15:13] #63 closed

[2016-07-16 15:38] #66 closed

[2016-07-16 18:46] leesharma opened #78 "Test issue from Rollbar"
This is a test issue created by Rollbar. If you can see this, it works!

[2016-07-16 18:46] bjmllr commented on #78
:+1:

[2016-07-16 18:46] #78 closed

[2016-07-16 19:43] leesharma opened #79 "NoMethodError: undefined method `includes' for nil:NilClass"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/3/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/3/)

[code]

[2016-07-16 19:44] leesharma opened #80 "NoMethodError: undefined method `paginate' for #<Shift::ActiveRecord_Relation:0x007f0bd4c12078>"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/4/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/4/)

[code]

[2016-07-18 12:40] leesharma opened #83 "destroying a WorkSite in the dashboard fails if any Shift is still associated"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/5/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/5/)

[code]

[2016-07-18 12:57] bjmllr commented on #83
@glazomaniac When you destroy a work site, would you expect all the related shifts to be destroyed as well?

[2016-07-18 13:03] glazomaniac commented on #83
Hmm, I think that might be a good way to keep the shifts from getting too clogged up. We'd just have to be sure to export all shifts before deleting a work site.

[2016-07-18 13:03] leesharma commented on #83
I can think of three main ways to solve this:

1. Delete all associated shifts if a work site is deleted (could be good if you don't care about historical data)
2. Set the work site to `NULL` on all associated shifts (if you want to keep historical time logs or something but don't care about old work sites)
3. Add an "archive" option to work sites so that they're no longer selectable, but they sho

[2016-07-18 13:09] bjmllr commented on #83
I was thinking (3) would be the best long-term representation of the life cycle of a work site; IRL we don't destroy all records of a work site after work is finished, but we also don't want to let volunteers log more hours on those sites.

We added a lot of bogus data for testing, which I'll clean up. Is there any data I shouldn't remove?

[2016-07-18 13:12] bjmllr commented on #83
Oh yeah, we added "deactivate work site" in #42 ! So if it's a legit work site and we just don't want it to appear in the main form anymore, we can change its `active` attribute to `false` (i.e., uncheck the checkbox).

[2016-07-18 13:15] glazomaniac commented on #83
That works. No, at this point, I think all data should be removed.

[2016-07-18 13:15] leesharma commented on #83
Will do.

[2016-07-18 13:16] glazomaniac commented on #83
Thanks! You guys are amazing.

[2016-07-18 13:25] bjmllr commented on #83
The bogus data is all gone.

Regarding the behavior of the `Destroy` button on the `Work Sites` dashboard, is option (1) okay then? We're not concerned that someone might use it accidentally?

[2016-07-18 13:28] glazomaniac commented on #83
Well, the archive option sounds best, but the first option is fine if that creates too much work. We can stress being careful if we need to.

[2016-07-18 13:35] bjmllr commented on #83
No trouble, it's just a matter of deciding what all the buttons should do. We'll look into replacing `Destroy` with `Archive`.

[2016-07-19 03:44] #83 closed

[2016-07-19 03:45] bjmllr commented on #60
Provided by #67 and #77

[2016-07-19 03:45] #60 closed

[2016-07-21 00:42] bjmllr opened #85 "attempting to Destroy a volunteer from the dashboard fails if there are any associated shifts"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/5/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/5/)

[code]

[2016-07-21 17:31] leesharma opened #88 "Missing apple-touch icons"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/6/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/6/)

[code]

[2016-07-21 17:32] leesharma commented on #88
Given that this is going to be used on mobile (and may be "saved" to the home screen for convenience), we should probably add some icons here.

[2016-07-21 22:29] leesharma commented on #88
Is anyone here a designer? I found the [Habitat branding guidelines](https://lisahacker.files.wordpress.com/2012/11/manuals_brandingguidelines.pdf) if someone wants to take a crack at putting something nice together. If we don't have any designers here, if we can find some editable logo assets, it shouldn't be hard to get something that looks professional.

It would be useful to have two icon sets

[2016-07-22 12:58] glazomaniac commented on #88
The customized name is the affiliate name, which is the only thing that can be added. I have our local affiliate logos I can share with you all. How about we just use color logo for one and black-and-white for the other?

Should I just send the logos to Ben?

[2016-07-22 15:10] leesharma commented on #88
Yeah, sounds good.

[2016-07-22 16:12] bjmllr commented on #88
@glazomaniac I got the horizontally oriented logos in JPEG format, do you have them in a vertical orientation? [Like this one?](http://www.first-presbyterian-church-32034.org/wp-content/uploads/2011/11/Habitat_for_Humanity_Logo_2005.jpeg)

If not, do we have any vector formatted versions of the logo, like SVG or EPS? I can resize and move the text around to create the vertical version, and this pr

[2016-07-22 16:19] leesharma commented on #88
@bjmllr It looks like their Twitter has a vertical logo, but it's a jpg.

![habitat_nola_v_logo](https://cloud.githubusercontent.com/assets/814638/17063668/69c3371c-5006-11e6-935f-01c5c45f2b77.jpg)

[2016-07-22 16:28] glazomaniac commented on #88
yes, I have those. I'm just used to only sending vector to printers. I'll send the vertical EPS files.

[2016-07-22 19:19] leesharma opened #90 "PG::ConnectionBad: could not connect to server: Connection refused Is the server running locally and accepting connections on Unix domain socket "/var/run/postgresql/.s.PGSQL.5432"?"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/8/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/8/)

[code]

[2016-07-22 19:20] #90 closed

[2016-07-25 16:12] #85 closed

[2016-07-26 02:29] leesharma opened #91 "Administrate views are not mobile-friendly"
The administrate views aren't mobile-responsive–on mobile, the sidebar takes up nearly the full screen, and the buttons/fields stack and shrink. The actual tables are scrollable, but they're tough to get to. Here's an image illustrating this:

![broken admin views](https://cloud.githubusercontent.com/assets/814638/17124126/dc75af4e-52b6-11e6-887b-a6d6c315ab15.png)

Per [this Administrate issue](ht

[2016-07-26 02:29] leesharma commented on #91
Depending on how likely it is that someone would use this on a phone, I can think of two options:

- Quick hack fix (fixing the width and allowing people to zoom in or something) if we don't expect much mobile use
- Actual solution (hamburger menu on mobile, sidebar moves to a top menu, or something more usable), which will probably take more time but be more usable

Any other ideas? How much of a

[2016-07-26 12:33] glazomaniac commented on #91
The quick hack fix is fine.

[2016-08-01 22:46] #88 closed

[2016-08-04 00:43] leesharma opened #92 "Onboarding new developers requires too much explaination"
Our README explains the problem space well, but it doesn't do much for onboarding. We should have more "onboarding" information that explains how to set up the project on a new machine, how to contribute, the technologies/tools we use, etc.

[2016-08-04 01:21] leesharma commented on #55
What information do we want here?

[2016-08-04 01:27] bjmllr commented on #55
I was picturing this as an optional select control on the signatures report page that would allow the report to be restricted to a given work site.

[2016-08-04 02:33] bjmllr commented on #14
I'm closing this for now because it's not clear what this does or why. Feel free to reopen.

[2016-08-04 02:33] #14 closed

[2016-08-10 16:59] leesharma commented on #91
This issue has been claimed by @darwin-s-walters.

[2016-08-10 17:13] leesharma commented on #48
The discussion around this issue probably happened at RfG, but how it's stated here is a bit confusing. Can we clarify what our goals are for this issue?

How will this model interact with our existing data model? What additional data needs to be collected? How will that change the interface?

[2016-08-12 01:04] bjmllr commented on #48
This is more of a theoretical completeness/tech debt/programmer happiness enhancement rather than something that would directly affect UX. At the moment, we're responsible for tracking 2 types of time spans with a start event and a stop event: shifts and breaks. Shifts are represented explicitly as a model, but breaks are just derived from events as needed.

[2016-08-12 16:54] #92 closed

[2016-08-24 13:31] leesharma opened #94 "Project Init Issues"
I'm taking this directly from the Slack conversation. When glroman forked the project, he encountered some issues:

**System:** Fedora 23

[code]

[2016-08-24 13:44] leesharma commented on #94
I'm going to number the list for easier reference. We'll probably need to split the issues that need code changes out into separate GitHub issues.

---

1. **Problem:** no postgres database found
  **Solution:** install PostgreSQL and create a role that allows for DB creation.

[code]

2. **Problem:** Could not find a JavaScript runtime

[code]
  **Solution:** added the following to the Gemfile:

[2016-08-24 14:20] leesharma commented on #94
First, thank you to glroman for taking notes during his setup process. Hopefully solving these will make project setup easier for folks without a rails dev setup in the future.

Here are some of my initial thoughts about the issues:

* **1, 2 - Add to Wiki** We should add something in the getting started/setup instructions to install Postgres and Node. I'd prefer Node over therubyracer just becaus

[2016-08-24 15:12] bjmllr commented on #94
I agree with using node for execjs. I don't see a good way to automate installing node from this project, but if someone has issues installing therubyracer, it's probably going to be harder to troubleshoot.

(4) is caused by `RUBYOPT`, which lets you set CLI options for all ruby processes. I guess many ruby developers never set it because many gem developers ignore warnings.

Regarding (5) we coul

[2016-08-24 15:45] leesharma commented on #94
RE 6: I think the issue is that Puma starts before `config/puma.rb` is read, so the configuration options don't get set. If you change the default port in `config/puma.rb` to 4002 or something, does it register?

One monster issue may have been a mistake. Let me break the definite bugs/doc requests out into separate issues. It looks like they'll need a few pull requests to solve them.

[2016-08-24 15:50] leesharma opened #95 "Missing steps in Quick Start Guide"
This issue comes from #94 (Problems 1 & 2)

**System:** Fedora 23
### Current Behavior

The [Quick Start Guide](https://github.com/rubyforgood/habitat_humanity#quick-start) in the README describes some of the required dependencies of the project:

However, note that this doesn't mention a Javascript runtime–required for Rails development–and that we only include links/advice for OS X and Windows.

[2016-08-24 15:54] leesharma opened #96 "ArgumentError when trying to seed the database"
This issue comes from #94 (Problem 3)

**System:** Fedora 23

### Current Behavior

Trying to seed the database blows up with an ArgumentError:

[code]

#### Steps to Reproduce

[code]

### Desired Behavior

`rake db:seed` should successfully seed the database

#### Proposed Solution

require 'factory_girl_rails' rather than 'factory_girl' in db/seeds.rb.

[2016-08-24 15:59] leesharma opened #97 "`bin/setup` generates an error"
This issue comes from #94 (Problem 5)

**System:** Fedora 23

### Current Behavior

`bin/setup` generates an error.

This command:

[code]

Yields this error:

[code]

### Desired Behavior

`bin/setup` should run successfully without error

[2016-08-24 16:03] leesharma commented on #97
We have three suggested solutions for this bug:

- From glroman (does anyone know his GitHub username?):

  Add a line to `bin/setup`:
[code]

- From @bjmllr:

  Use `FileUtils` instead of `system` for file operations:

[code]

- From @leesharma:

  Change the line to:
[code]
  (since `mkdir` is more recognizable for non-bash programmers than `[[]]`)

Lots of options!

[2016-08-24 16:23] leesharma opened #98 "Puma doesn't use config in `config/puma.rb` when started with `rails server`"
This issue comes from #94 (Problem 6)

**System:** Fedora 23
### Current Behavior

Start-up configuration in `config/puma.rb` is being ignored. See puma/puma#512
#### Steps to Reproduce

We can see this in action by trying to change the port number–it won't be registered with `rails s`.

In `config/puma.rb`, make the following change:

[code]

Start the server with `bundle exec rails server`. You

[2016-08-24 16:31] leesharma opened #99 "NoMethodError when running reports"
This issue comes from #94 (Problem 8)

**System:** Fedora 23

### Current Behavior

NoMethodError when running reports

[code]

#### Steps to Reproduce

Suspect this happens when EndBreakDateTime is nil.

### Desired Behavior

Creating a report should return a reasonable default instead of blowing up with a `NoMethodError`.

[2016-08-24 16:34] leesharma commented on #99
This issue isn't fully fleshed out because I didn't have time to actually investigate it.

Could someone investigate this further and fill out **Steps to Reproduce** and **Desired Behavior** (ie–what method with which arguments causes this, what is a reasonable default, etc)? Neither is really actionable at the moment.

[2016-08-24 16:34] leesharma commented on #94
Okay, I opened separate issues for 1, 2, 3, 5, 6, and 8–they should be fleshed out enough that they're easy for someone to pick up/solve.

I believe that 7 is already implemented, and 4 is a ruby installation/options issue that shouldn't be addressed in our docs.

I'm going to tag this issue with `wontfix` and close it. Any objections? (@bjmllr)

[2016-08-24 16:34] #94 closed

[2016-08-24 17:03] bjmllr commented on #94
You're right (about 6), I took "load" too literally in the original report.

[2016-08-24 17:15] bjmllr commented on #99
To reproduce, create a shift that has an event for the start of a break, but no event for the end of that break, then try to export HoursReport to CSV over a time-span including all the events of the shift. Rather than 500'ing, I think we should report the problem to the user so that they can ignore the cell or row, or try to fix the data. Perhaps the CSV generator could put some sort of message t

[2016-08-25 21:07] leesharma opened #100 "Failsafe from rollbar-gem. PG::ConnectionBad: "could not connect to server: Connection refused"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/10/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/10/)

[code]

[2016-08-25 21:07] leesharma opened #101 "PG::ConnectionBad: could not connect to server: Connection refused Is the server running on host "ec2-50-17-253-74.compute-1.amazonaws.com" (10.154.60.12) and accepting TCP/IP connections on port 5432?"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/11/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/11/)

[code]

[2016-08-25 22:09] leesharma commented on #100
Anyone have ideas about what might be causing this? It looks like it may have solved itself–it appears to have been triggered by the ping that NewRelic does every hour, and the following hour worked fine.

[2016-08-25 22:10] leesharma commented on #100
Also, issue #100! Very exciting! :tada:

[2016-08-26 02:52] leesharma commented on #100
After googling, this might just be a limitation of the free tier:

- [An exception occurred: 'PG::ConnectionBad: PQconsumeInput() SSL connection has been closed unexpectedly' on Heroku](http://geoff.evason.name/2015/01/18/postgres-ssl-connection-has-been-closed-unexpectedly)
- [StackOverflow: PGConnection bad](http://stackoverflow.com/questions/26792943/heroku-rails-pg-activerecordstatementinvalid

[2016-08-26 02:52] leesharma commented on #101
Commentary in #100.

[2016-08-27 01:18] #91 closed

[2016-08-27 01:37] leesharma commented on #4
Is this still a desired feature?

If so, it sounds like this is what we need–let me know if I'm off at all:

- Admins should be able to set a time range for checkins and checkouts in the admin interface (with some reasonable default)
- Outside of the time range, volunteers shouldn't see the "invalid" options on the drop down list (decided from the time selector, I assume, not the current time)
- S

[2016-08-27 14:02] glazomaniac commented on #4
Those are definitely desired features, especially the last one.

[2016-08-27 15:01] leesharma commented on #100
Closing. Hopefully it won't come back!

[2016-08-27 15:01] #100 closed

[2016-08-27 15:02] leesharma commented on #101
Closing. Hopefully this doesn't come back!

[2016-08-27 15:02] #101 closed

[2016-09-07 22:27] glroman commented on #96
I'll try fixing this.

[2016-09-10 13:38] #96 closed

[2016-09-11 21:25] glroman commented on #98
This issue is discussed in further detail [here](https://github.com/puma/puma/issues/512).

[2016-09-11 21:26] glroman commented on #55
I'll try to resolve this.

[2016-09-12 12:41] leesharma commented on #55
:+1: Sounds good @glroman!

[2016-09-16 13:39] crawfoal commented on #97
I can work on this issue. It will be my first open source contribution, and I have a couple questions:

1. If I cloned the repo via instructions on the Getting Started page (`git clone http://github.com/rubyforgood/habitat_humanity`), then is that the same as a fork? Or do I need to do something different?

2. I've reproduced the issue on Ubuntu 16.04, but I don't have anything set up with Fedora

[2016-09-16 15:36] glroman commented on #97
Hi @crawfoal, thanks for taking up this issue.  I believe that if you can get it working on Ubuntu that it will also work on Fedora: both distros should be failing in the same way for this issue.

As for cloning: that won't work as we're using the Forking Workflow Model.  I found [the description  here](https://www.atlassian.com/git/tutorials/comparing-workflows/) helpful.

[2016-09-16 17:26] crawfoal commented on #97
@glroman Thanks, that article was really helpful.

Since I'll only be changing the setup script, I won't be creating a test for this, right?

[2016-09-16 18:15] crawfoal opened #105 "Error on first run of rake after setup"
When I first ran `bundle exec rake` after running the setup script, I got an error saying that the test database didn't exist:

[code]

To fix this, I ran `bundle exec rake db:test:prepare`, and then was able to run the specs with `bundle exec rake`.

I thought when you ran `rake db:setup`, and didn't specify a RAILS_ENV, it created both the development and test databases if they didn't exists, so

[2016-09-16 19:31] glroman commented on #97
Right. Either it runs clean or it doesn't.

[2016-09-18 15:54] #97 closed

[2016-09-18 17:53] leesharma commented on #105
Good catch! 👍 We should this to `bin/setup` to handle the test database.

Is everyone comfortable with `rake db:test:prepare`? I know it was deprecated in 4.1.0 and then undeprecated shortly thereafter, but it looks like it's here to stay now.

[2016-09-25 13:51] crawfoal commented on #4
When the volunteers are selecting a time, they get a widget to select the time with. This widget is from [lolliclock](https://github.com/mattkrick/lolliclock), and it looks like an actual clock, not a list. From what I've seen looking at the documentation and code, there isn't a built in way to make invalid options look and behave disabled. I think we could either use a different time picker that

[2016-09-25 15:26] crawfoal commented on #99
I can start working on this.

When a volunteer has forgotten to sign back in from a break, what should we put in the `duration_without_breaks` field of the report? Maybe something like "Error: missing info."?

Should we also send an email to a volunteer who has forgotten to sign back in from a break? Maybe make this a separate issue?

[2016-09-25 20:14] crawfoal commented on #99
Also, would just putting that in the report be enough to grab their attention?

[2016-09-25 22:24] bjmllr commented on #99
@crawfoal Thanks for picking this up!

A volunteer won't be able to see the report, so if we want to contact them directly, we'd send them a separate email. Admins can contact volunteers and make corrections to records by hand if needed, so I'd prioritize giving the admins better visibility ahead of directly contacting volunteers.

[2016-09-25 23:50] bjmllr commented on #4
I think this issue requires server side validation, but these are good points, we can improve the UX by also giving indications in the UI of what inputs will pass validation.

@glazomaniac is there an interval that makes sense to use? Do we expect volunteers to give exact (down to the minute) times, or do we expect them to round to (for example) the nearest half-hour? The second link in @crawfoal

[2016-09-26 12:28] glazomaniac commented on #4
I'm not sure what the grant requires (and apparently, no one is?). Specificity is probably useful, but if intervals are easier for y'all, I'd go with 15 minute ones if at all possible.  Thanks for all y'all's work on this!

[2016-09-26 21:47] glroman opened #107 "Add a name field to work_sites"
Add a `name` field to the **work_sites** table which can be used when displaying and selecting **work_sites**.  On **work_site** creation, the `name` field should be required and unique.  The `address` field should remain required and be shown when viewing **work_site** details.

[2016-09-26 21:53] glroman commented on #107
I'll tackle this; thanks.  It's blocking #55.

[2016-09-26 22:03] bjmllr commented on #107
@glazomaniac Do work sites have names?

[2016-09-26 22:41] glroman commented on #107
Sorry, I didn't realize the question was still outstanding.  From reading the material on the http://www.habitat-nola.org site, I saw these and thought they must have names for the various projects:

* Musicians’ Village
* Faith Build
* Jimmy and Rosalynn Carter Work Project
* Blitz Build
* America Street

I can try finishing #55 without this and then change it to accommodate names if/when we hear

[2016-09-26 23:06] bjmllr commented on #107
Looking at the database, right now we have 3 separate work sites on America Street. You can them all at https://habitat-nola-signin.herokuapp.com/ by checking the work site dropdown.

[2016-09-26 23:18] glroman commented on #107
Got it.  So it's not looking good for the `name` idea.  Wonder if they'd want to group things by project?  If so, then something like "America Street, WS001" might be useful.  The problem I see now is that if their active list ever gets to be large, the drop-downs get unwieldy.  And over time, active + inactive gets large and the only application key into that list is the address.

[2016-09-27 13:16] glazomaniac commented on #107
We sometimes have names for special builds or projects, but yeah, it's better if we just do this all by address. Thanks for the thought, though!

[2016-09-27 13:17] glazomaniac commented on #107
We'll never be building more than 10-20 addresses at a time--our staff just isn't big enough for that. Usually it's around 10 or 12. So it shouldn't be a problem regarding the dropdowns if the inactive sites are able to be removed from them when we're  done.

[2016-09-27 13:30] crawfoal opened #109 "js error prevents running specs with js enabled"
I was trying to write a spec with `js: true`, and got this error:

[code]

I think this error occurs on the admin sign in page, and is because `signature.js` runs on all pages, but the admin sign in page doesn't have the signature field. I don't see this error on the admin dashboard, but I think that might have to do with the administrate gem.

[2016-09-27 19:22] glroman commented on #107
@glazomaniac Thanks for the feedback; I'm closing this issue.

[2016-09-27 19:22] #107 closed

[2016-09-27 19:23] glroman commented on #55
I'm assuming that only active work sites should be selectable for this report.  @glazomaniac: please let me know if that's not the case.  Thanks.

[2016-09-27 19:31] glazomaniac commented on #55
That's definitely what we prefer.

[2016-10-17 22:27] leesharma commented on #55
@glroman How are things going on this issue?

[2016-10-17 22:33] leesharma commented on #39
I marked this issue as "In Progress", but I can't remember who was working on it. Does anyone know? Otherwise I'll set it back to "Help Wanted".

[2016-10-17 22:43] bjmllr commented on #39
I don't remember either. Was it someone we met at ARUG?

[2016-10-19 16:13] glroman commented on #55
Hi @leesharma.  I've made good progress on this and hope to have a PR to review soon.  I'll have a better update later today.

[2016-10-19 16:38] leesharma commented on #55
Awesome! 🎉

[2016-10-22 23:47] #99 closed

[2016-10-31 14:07] leesharma commented on #105
Since no one’s grabbed this one yet, I’ll take care of it.

This definitely has nothing to do with hacktoberfest ending today. :jack_o_lantern:

[2016-10-31 14:15] #105 closed

[2016-11-17 13:48] leesharma opened #111 "ActionController::InvalidAuthenticityToken: ActionController::InvalidAuthenticityToken"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/12/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/12/)

[code]

[2016-11-19 16:44] leesharma commented on #111
According to @bjmllr, a work site was using the app during this time (though we got no complaints). It looks like all of these failures came from the same iPhone in Louisiana. Maybe a caching issue?

[2016-12-29 21:04] syivanes commented on #98
Hi! I'm learning and looking for some problems to try. Does this issue still need attention?

[2016-12-30 03:32] leesharma commented on #98
It does! 😄 Let us know if you have any questions.

[2017-01-02 20:27] bjmllr opened #113 "Signature Report: include volunteer name"
The org requested this change. This is already present in the mobile report, so we just need to add it to the desktop report.

[2017-01-02 20:52] bjmllr opened #114 "admin dashboard: Shift Events "occurred at" column should show time of day"
When viewing the Shift Events dashboard, (i.e., `/admin/shift_events`), the "occurred at" column should show both date and time for each record, but only the date is shown. The full date and time can be seen by clicking through to events for a specific shift_events record.

[2017-01-02 21:08] bjmllr opened #115 "Send reminder email to any volunteers that forgot to sign out"
This would be a scheduled job that runs at 5pm central time each day and generates an email reminder for each shift that was started in the past 24 hours, but not completed.

We're using Heroku Scheduler, which doesn't allow time-zone-aware scheduling, so the job should assume that it will be run once every hour and exit early unless it's between 5pm and 6pm central time.

For diagnostic purposes,

[2017-01-02 21:26] bjmllr opened #116 "scale signatures in the Signature Report to a consistent size"
In the Signatures Report (`/admin/signatures_report`) there are slight differences in the size of the signature images, and the images frequently don't fit inside the horizontal margins of the report. We should display them in a consistent size. The org has requested that we display them smaller, and many signatures already in the database are around 1300 x 150, so something like 650 x 75 might be

[2017-01-04 00:52] glroman commented on #55
I think this should be closed now.  Have you tested it?  Is there anything I missed?

[2017-01-04 03:09] bjmllr commented on #55
@leesharma are you still reviewing this PR?

[2017-01-07 17:11] JeanJoeris commented on #116
Hi, just wanted to let you know that @danbroadbent and I wanted to add this feature. I hope that is ok, we'll let you know if we have any questions

[2017-01-07 18:53] JeanJoeris commented on #95
@danbroadbent and I are happy to add some documentation about needing node installed along with some resources for installation.

[2017-01-07 18:55] danbroadbent commented on #113
@JeanJoeris and I would like to address this issue

[2017-01-08 04:16] #116 closed

[2017-01-08 04:17] #113 closed

[2017-01-08 04:20] #95 closed

[2017-01-09 04:30] kctrlv commented on #114
This appears to be an issue with the administrate gem.

An issue for this bug was opened [here](https://github.com/thoughtbot/administrate/issues/562) fairly recently, but it is still unresolved.

[2017-01-09 05:28] kctrlv commented on #114
After digging in deeper and learning that Administrate lets you customize the views, I went ahead and added a custom view at app/views/admin/shift_events/_collection.html.erb in which there is a check to see if the attribute is a DateTime, in which case it renders it as a datetime instead of the way Administrate does it now (as a Date).

[2017-01-18 01:14] #114 closed

[2017-01-20 14:10] leesharma opened #122 "ActiveRecord::RecordInvalid: Validation failed: Day occurred_at (2017-01-19) does not match day (2017-01-20)"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/13/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/13/)

[code]

[2017-02-25 03:28] AliSchlereth commented on #109
Hi @leesharma & @crawfoal,
  I'd like to take a crack at fixing this assuming it still needs work?  I've read CONTRIBUTING.md and will do my best to follow your guidelines.  This sounds like a great project!

[2017-03-02 19:26] #109 closed

[2017-03-05 16:35] #115 closed

[2017-03-15 18:30] bjmllr opened #127 "Clicking a reminder email link should open the form with some fields pre-filled"
Many volunteers seem to leave the `action` field set to `start_shift` after following the link from the reminder email. Someone receiving a reminder email is being asked to sign out, so we should help them do so by pre-filling the `action` field appropriately. We can also help ensure that the new `shift_event` is linked to the proper `shift` by pre-filling the `email` field.

In all, we can pre-fi

[2017-04-25 23:14] tgturner commented on #98
It looks like this issue is still open, I would love to work on it!

[2017-04-28 02:28] #98 closed

[2017-06-09 12:32] crawfoal commented on #4
I can get started on this if the following tasks sounds good to everyone:
- create a "settings" page in the admin tools area so that admins can set limits for signing in and out (defaults to 7am - 5pm to give them a little wiggle room from what they said - 7:45am to 4pm)
- for the shift events model, add a validation to the `occured_at` attribute based on admin's settings
- change the time picker

[2017-06-09 13:54] crawfoal opened #129 "Use FactoryGirl.lint instead of individual specs"
Factory Girl provides the [`lint`](http://www.rubydoc.info/gems/factory_girl/file/GETTING_STARTED.md#Linting_Factories) method so that you can easily ensure all factories are valid.

I've seen this used in a before suite hook, but as they point out in the documentation, this might be the best approach. Other options are to make a rake task (like they suggest), to have one spec that lints all facto

[2017-06-10 06:02] bjmllr commented on #4
@crawfoal sounds great!

That breakdown of the tasks makes sense to me. I'd suggest doing each task in a separate commit if possible, or even separate PRs.

Since there's default behavior, it should be possible get the validation and picker working before adding the admin page, if you want. That approach might require some rework at the end, but I'd guess the user-defined intervals will add comple

[2017-06-10 17:31] crawfoal commented on #122
I was going to look into this because I saw the same issue last night, but I don't have access to the project on Rollbar.

I'm currently visiting family in Colorado, so I'm in the Mountain time zone (not sure if that has anything to do with it). I only saw the issue between 10 and 11 last night, after 11pm, things started working again. Also, the pre-populated time is an hour ahead of my local tim

[2017-06-10 17:33] crawfoal commented on #122
Oh, and also, I created a factory for the check in form, and didn't set the day or time for the default factory because those are automatically filled in by the form object if they're blank. The factory was also invalid between 10 and 11pm, and then valid after 11pm.

[2017-06-17 07:04] bjmllr commented on #122
I think the original issue was fixed by #124 , but I can't reproduce the 10-11pm issue before or after that change, so there may be multiple causes.

I think we expect volunteers to submit times in New Orleans local time. More generally, it would make sense to associate each work site with a time zone, and/or allow the volunteer to choose the time zone. In the controller, we accept times without a

[2017-07-24 12:00] leesharma opened #132 "Net::SMTPAuthenticationError: 451 Authentication failed: Could not authenticate"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/15/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/15/)

[code]

[2017-07-25 02:58] bjmllr commented on #132
Can no longer reproduce, closing for now.

[2017-07-25 02:58] #132 closed

[2017-08-23 13:32] crawfoal opened #133 "In feature specs, check for phantomjs rather than environment variable"
The feature specs that require JavaScript currently looks for an environment variable:

[code]

If instead we check for the presence and version of the phantomjs executable, then it will run by default when possible. When someone is new to the project, they don't have to set up an environment variable to get the JS feature specs running.

[2017-08-23 13:40] crawfoal opened #134 "Give friendlier feedback"
If I try to sign in but don't include an email, all I see is "Check in not valid" at the top. It would help to highlight the email field in red and/or give a more descriptive error message.

If I try to sign in but don't enter a signature, the field is highlighted in red and the form isn't submitted. It would be nice to give an explanation as well (e.g. put "required" near the box).

[2017-09-02 20:10] bjmllr commented on #133
The skips were added to prevent these tests from running under CI, since there was no (easy) way to use PhantomJS 2 under Travis at the time. If things have since improved, then we could remove the skips.

[2017-09-06 15:33] crawfoal commented on #122
I was just looking into this more and I have some helpful details. I am currently in EST and submitted a check in form at 10:47am. Here are some details about the POST request and db records:
[code]
It does seem like something fishy is going on... here's what happened:
  1. Before the POST request was sent, something converted the time to CST. No time zone is attached.
  2. The server processed th

[2017-10-22 05:21] #133 closed

[2019-02-23 17:54] salimane commented on #91
any update on the mobile-responsive–on mobile ?

[2019-03-08 17:10] leesharma opened #138 "SignalException: SIGTERM"
View details in Rollbar: [https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/16/](https://rollbar.com/habitat-nola-signin/habitat-nola-signin/items/16/)

[code]